[client]
user=root

[clientdcs_rds_stg]
host = dcs-rds-rails-stg-green.czltjpmbpivx.us-east-1.rds.amazonaws.com
user = root
password
database = dcs_manager
ssl

[clientdcs_rds_prd]
host = dcs-rds-rails-prd-green.czltjpmbpivx.us-east-1.rds.amazonaws.com
user = root
password
database = dcs_manager
ssl
